<div class="mb-4">
  <%= f.label field, label_text, class: "block text-sm font-medium text‑dada‑text dark:text‑white" %>
  <%= f.send(field_type, field, **{ placeholder: placeholder_text, class: "mt‑1 block w‑full px‑3 py‑2 bg‑white dark:bg‑zinc‑700 text‑dada‑text dark:text‑white border border‑gray‑300 dark:border‑zinc‑600 rounded" }.merge(options || {})) %>
</div>
